<!-- <div class="overflow-hidden" >
  <mat-sidenav-container style="background-color: white">
    <mat-sidenav [(opened)]="opened" mode="side">
      <div class="d-flex justify-content-center py-3">
        <img class="imgLogo" src="assets/logo-04.png" alt="logo" />
      </div>
      <hr class="w-75 ms-3" />
      <span class="ms-3" style="font-size: 10px; color: rgb(180, 179, 179)"
        >Quick access</span
      >
      <mat-list >
        <mat-list-item class="quick ">
          <div class="bg-black w-100  ">
            <a class="d-flex align-items-center ms-3 ms-3 " routerLink="/dashboard" routerLinkActive="classActive">
              <mat-icon>home</mat-icon><span class="ms-1">Dashboard</span>
            </a>
          </div>
        </mat-list-item>
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " routerLink="/statistics" routerLinkActive="classActive"
            ><mat-icon>bar_chart</mat-icon
            ><span class="ms-1">Statistics</span></a
          >
        </mat-list-item>
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " routerLink="/customers" routerLinkActive="classActive"
            ><mat-icon>group</mat-icon><span class="ms-1">Customers</span></a
          >
        </mat-list-item>
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " routerLink="/products" routerLinkActive="classActive"
            ><mat-icon>add_shopping_cart</mat-icon
            ><span class="ms-1">Products</span></a
          >
        </mat-list-item>
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " routerLink="/retailers" routerLinkActive="classActive"
            ><mat-icon>store</mat-icon><span class="ms-1">Retailers</span></a
          >
        </mat-list-item>
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " routerLink="/orders" routerLinkActive="classActive"
            ><mat-icon>dns</mat-icon
            ><span class="ms-1">Orders</span></a
          >
        </mat-list-item>
        <hr class="w-75 ms-3" />
        <span class="ms-3" style="font-size: 10px; color: rgb(180, 179, 179)"
          >MY Account</span
        >
        
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " href="#"
            ><mat-icon>person</mat-icon><span class="ms-1">Profile</span></a
          >
        </mat-list-item>
        
        <hr class="w-75 ms-3" />
        
        <mat-list-item class="quick">
          <a class="d-flex align-items-center ms-3 " href="#"
            ><mat-icon>help</mat-icon><span class="ms-1">Q & A</span></a
          >
        </mat-list-item>
        <hr class="w-75 ms-3" />
        <mat-list-item class="quick">
          <button class=" btn d-flex bg-transparent text-light align-items-center " (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="ms-1">Log Out</span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="d-flex align-items-center">
        <p class="w-50 mt-4 menu" style="cursor: pointer;" (click)="opened = !opened">
          <mat-icon>menu</mat-icon>
        </p>
        <span class="w-50 d-flex justify-content-end">
          <div class=" d-flex gap-1 align-items-center">
            <a href="#"><mat-icon>person</mat-icon></a>
            <a href="#"><mat-icon>notifications</mat-icon></a>
          </div>
        </span>
       
      </mat-toolbar >
      <ng-confirm></ng-confirm>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
<div *ngIf="flag">
  <app-group-of-components></app-group-of-components>
</div>
<div *ngIf="!flag">
  <router-outlet></router-outlet>
</div>

