<div class="container">
  <div class="row d-flex justify-content-evenly">
    <div
      class="carded col-md-2 col-sm-3 rounded"
      style="background-color: #dbb2d1"
    >
      <mat-icon class="mt-4 mb-2">group</mat-icon>
      <h5 class="b">Customers</h5>
      <p class="mb-2 h-100">{{ customers.length }}</p>
      <br />
    </div>
    <div
      class="carded col-md-2 col-sm-3 rounded"
      style="background-color: #b2dbd3"
    >
      <mat-icon class="mt-4 mb-2">dns</mat-icon>
      <h5 class="b">Orders</h5>
      <p class="mb-2 h-100">{{ orders.length }}</p>
      <br />
    </div>
    <div
      class="carded col-md-2 col-sm-3 rounded"
      style="background-color: rgb(159, 170, 252)"
    >
      <mat-icon class="mt-4 mb-2">shopping_cart</mat-icon>
      <h5 class="b">Products</h5>
      <p class="mb-2 h-100">{{ products.length }}</p>
      <br />
    </div>
    <div
      class="carded col-md-2 col-sm-3 rounded"
      style="background-color: #f2d4d4"
    >
      <mat-icon class="mt-4 mb-2">store</mat-icon>
      <h5 class="b">Retailers</h5>
      <p class="mb-2 h-100">{{ Retailers.length }}</p>
      <br />
    </div>
    <div class="row  d-flex justify-content-center mt-5 mb-5">
      <div class="col-md-6">
        <app-app-bar-chart
          [Retailers]="Retailers.length"
          [products]="products.length"
          [orders]="orders.length"
          [customers]="customers.length"
        >
        </app-app-bar-chart>
      </div>

      <div class="col-md-6">
        <app-line-chart
          class="mt-5"
          [beauty]="beauty.length"
          [Kids]="Kids.length"
          [fashion]="fashion.length"
          [electronics]="electronics.length"
          [grocery]="grocery.length"
        ></app-line-chart>
      </div>

      <div class="col-md-4 mt-5">
        <div class="w-100 m-auto">
          <app-bar-chart
            [Retailers]="Retailers.length"
            [products]="products.length"
            [orders]="orders.length"
            [customers]="customers.length"
          ></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
